.container
  = form_with(model:@profile, url:profile_path, method:'post', local:true ) do |f|
    %div
      = f.label :username, '名前'
    %div
      = f.text_field :username
    .actions
      = f.submit 'SUBMIT', class: 'avatar_submit_btn'