.container
  .header_comment
    %div
      %p.page_title 作品レビュー

  .comment
    -  @comment.each do |comment|
      .comment-feelings
        %p= comment.feelings
      %hr

  = link_to new_movie_comment_path do
    .float_btn
      %i.fas.fa-comment-plus 