.container
  - @movie.each do |movie|
    = link_to movie_path(id: movie.id) do
      %hr
      .movie_list
        - movie.eyecatch.each do |eyecatch| 
          = image_tag eyecatch, class: 'movie_content_image'
      .movie
        %p= movie.title

  = link_to new_movie_path do
    .float_btn
      %i.fa.fa-plus


