.container
  .bg_test
    %p ムビドラ
    %h2 自分の好きな作品を投稿して語り合おう!!
    .bg_test-text
      %p= link_to 'ユーザー登録はこちら', new_user_session_path, class:''
      %p= link_to '映画・ドラマ一覧', movies_path, class:''
    
        

  .top_menu
    


