.container-bg
  .bg
    %p.title ムビドラ
    %h2.title 自分の好きな作品を投稿して語り合おう!!
    .bg_text
      %p= link_to 'ユーザー登録はこちら', new_user_session_path, class:'btn-secondary'
      %p= link_to '映画・ドラマ一覧', movies_path, class:'btn-secondary'
    
        

  .top_menu
    


