.average-review-rating{"data-score" => "<haml_loud"} comments.average_rate >
:javascript
    $('#star-rate#{comment.id}').raty({
        size      : 36,
        starOff   : '#{asset_path('star-off.png')}',
        starOn    : '#{asset_path('star-on.png')}',
        half      : false,
        readOnly: true,
        score: #{comment.star},
    });