@import 'variables';

.btn-primary{
  background-color: #FFE600;
  border: none;
  width: 100%;
  text-align: center;
  color:#000000;
  padding: 16px 0;
  font-weight: bold;
  bottom: 0;
  position: absolute;
}