@import 'variables';

$heart-size: 16px;
$avatar-size: 32px;
$container-padding: 16px;

.movie {
    margin-top: 40px;
    margin: 16px 0;
    font-style: italic;
    color: $text-base-color;

    &_title{
      text-align: center;
      font-size:22px;
      font-family:bold;
      text-shadow: 0 1px 0 #ccc,
      0 2px 0 #c9c9c9,
      0 3px 0 #bbb,
      0 4px 0 #b9b9b9,
      0 5px 0 #aaa,
      0 6px 1px rgba(0,0,0,.1),
      0 0 5px rgba(0,0,0,.1),
      0 1px 3px rgba(0,0,0,.3),
      0 3px 5px rgba(0,0,0,.2),
      0 5px 10px rgba(0,0,0,.25),
      0 10px 10px rgba(0,0,0,.2),
      0 20px 20px rgba(0,0,0,.15);
    }

    &_name{
      float: left;
      width: 60%;
      font-size:22px;
      margin-bottom: 32px;
      font-family:bold;
      text-shadow: 0 1px 0 #ccc,
      0 2px 0 #c9c9c9,
      0 3px 0 #bbb,
      0 4px 0 #b9b9b9,
      0 5px 0 #aaa,
      0 6px 1px rgba(0,0,0,.1),
      0 0 5px rgba(0,0,0,.1),
      0 1px 3px rgba(0,0,0,.3),
      0 3px 5px rgba(0,0,0,.2),
      0 5px 10px rgba(0,0,0,.25),
      0 10px 10px rgba(0,0,0,.2),
      0 20px 20px rgba(0,0,0,.15);
    }


    &_nav {
        font-size: 20px;
        margin-bottom: 40px;

      &_image {
        width: $heart-size;
        height: $heart-size;
      }

      &_list{
        margin: 10px;
      }
    }

    &_content {
        position: absolute;
        bottom: 0;
        display: flex;
        overflow: auto;
        scroll-snap-type: x;
        min-width: 100%;
        justify-content: space-evenly;
        cursor: pointer;
  
        &_image {
            scroll-snap-align: start;
            display: block;
            max-height: 450px;
            max-width: 100%;
            flex: none;
            object-fit: cover;
            min-width: 100%;
        }
    }

    &_comment {
      font-size: 12px;
    }

    &_comments{
      font-size: 14px;
      display: flex;
      float: right;
      margin-top: 10px;
    }

    &_liked {
      font-size: 14px;
      display: flex;
      float: right;
      margin-top: 10px;
    }

    &_share {
      font-size: 12px;
    }

    &_secret {
        font-size: 12px;
    }

    &_heart {
      font-size: 12px;
    }

    &_story{
      margin-top: 12px;
      font-size: 12px;
    }

}

// アイコン画像のサイズ

.movie_icon {
  min-width: 50%;
  max-width: 50%;
  max-height: 50px;  
}

.movie_frame{
  display: flex;
  font-size: 22px;
  margin: 5px;
}